body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 500px;
    height: 900px;
    background-color: aqua;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#left {
    background-color: blueviolet;
}

#right {
    background-color: brown;
    display: flex;
    flex-direction: column;
}

#header {
    height: 100px;
    background-color:aquamarine;
}

#summary {
    height: 200px;
    background-color: blue;
}

#innerSquare {
    width: 90%;
    height: 160px;
    margin-top: 20px;
    background-color: burlywood;
    display: flex;
}

#innerSquareLeft {
    width: 40%;
    background-color: chartreuse;
}

#innerSquareRight {
    width: 60%;
    background-color: chocolate;
}

#details {
    height: 600px;
    background-color: cadetblue;
}